# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
# pubspec.lock

# I used this to add `// @dart=2.9` to the top of all dart files
add-line.py

# Conventional directory for build outputs
build/

.vscode/

node_modules/
package-lock.json

# Directory created by dartdoc
doc/api/
/.idea/
/bak/
/Brython-3.7.4.zip
/cadnano-screenshot.png

codenano.html
*.log

todo.txt

todo extensions.txt