/overlapping_strands.sc
/seed_sst.sc
/16_helix_origami_barrel_from_algoSST_paper-rotator-bak.sc
/16_helix_origami_barrel_from_algoSST_paper-rotator.sc
/2_staple_2_helix_origami_deletions_lots_of_insertions.sc
/1_staple_1_helix_origami_idt_duplicate_names.sc
