/16_helix_origami_barrel_from_algoSST_paper-rotator-bak.dna
/16_helix_origami_barrel_from_algoSST_paper-rotator.dna
/2_staple_2_helix_origami_deletions_lots_of_insertions.dna
/1_staple_1_helix_origami_idt_duplicate_names.dna
