name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages-repo

      - name: Setup Dart SDK  # This will use the latest version of dart unless specified otherwise.
        uses: dart-lang/setup-dart@v1  # https://github.com/dart-lang/setup-dart

      - name: Install dependencies
        run: dart pub get

      - name: Activate webdev
        run: dart pub global activate webdev

      - name: Build into gh-pages repo
        run: dart pub global run webdev build -o web:/tmp/scadnano ; cp -r /tmp/scadnano/* gh-pages-repo

      - name: Retrieve version
        run: echo "VERSION=$(cat lib/src/constants.dart | grep 'const String CURRENT_VERSION = .*' | grep -oP '\d+\.\d+\.\d+')" >> $GITHUB_ENV

      - name: Build into gh-pages-repo/VERSION
        run: |
          if [ "$VERSION" != "" ]; then
             dart pub global run webdev build -o web:gh-pages-repo/v$VERSION
          else
             echo "::warning deploying VERSION skipped because VERSION number could not be found"
          fi

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages-repo
