name: github pages dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev

      - uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages-repo
        
          

      - name: Setup Dart SDK Step 1
        run: sudo apt-get update
      - name: Setup Dart SDK Step 2
        run: sudo apt-get install apt-transport-https
      - name: Setup Dart SDK Step 3
        run: sudo sh -c 'wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -'
      - name: Setup Dart SDK Step 4
        run: sudo sh -c 'wget -qO- https://storage.googleapis.com/download.dartlang.org/linux/debian/dart_stable.list > /etc/apt/sources.list.d/dart_stable.list'
      - name: Setup Dart SDK Step 5
        run: wget -O /tmp/dart_2.9.3-1_amd64.deb https://storage.googleapis.com/dart-archive/channels/stable/release/2.9.3/linux_packages/dart_2.9.3-1_amd64.deb
      - name: Setup Dart SDK Step 6
        run: sudo apt install /tmp/dart_2.9.3-1_amd64.deb

      - name: Install dependencies
        run: PATH="$PATH:/usr/lib/dart/bin" pub get
        
      - name: Install webdev
        run: PATH="$PATH:/usr/lib/dart/bin" pub global activate webdev
      

      - name: Build into gh-pages repo
        run: PATH="$PATH:/usr/lib/dart/bin" pub global run webdev build -o web:gh-pages-repo/dev
      

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages-repo
