name: github pages dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dev branch
        uses: actions/checkout@v4
        with:
          ref: dev

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages-repo

      - name: Setup Dart SDK  # This will use the latest version of dart unless specified otherwise.
        uses: dart-lang/setup-dart@v1  # https://github.com/dart-lang/setup-dart

      - name: Install dependencies
        run: dart pub get

      - name: Install webdev
        run: dart pub global activate webdev

      - name: Build into gh-pages repo
        run: dart pub global run webdev build -o web:gh-pages-repo/dev

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages-repo
