
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/************************************************
** BEGIN layout
************************************************/

.error-message {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

#top-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.fixed-horizontal-separator {
    height: 5px;
    background: black;
    position: relative;
}

.fixed-vertical-separator {
    width: 5px;
    background: black;
    position: relative;
}

.draggable-separator {
    width: 15px;
    height: 100%;
    background: lightgray;
    position: relative;
    cursor: col-resize;
}

#right-side-panes-container {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#design-pane {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#design {
    display: flex;
    /*height: 100%;*/
    flex-grow: 1;
}

#side-pane {
    /*width: 8%;*/
    /*background: #eee;*/
}

#main-pane {
    /*width: 90%;*/
}

#design-footer-mouse-over {
    height: 24px;
    text-align: left;
    background: #eee;
    flex-grow: 0;
}

#design-footer-mouse-over-paragraph {
    padding: 5px;
    text-align: left;
}

#main-pane {
    /*flex: auto;*/
    width: 100%;
    /*flex-basis: auto;*/
}

#editor-pane {
    /*flex: auto;*/
}

#side-pane,
#main-pane,
#design-pane,
#editor-pane {
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-item {
    padding-left: 5px;
    padding-right: 5px;
}


/*.panes-container {*/
/*  display: flex;*/
/*  width: 100%;*/
/*  overflow: hidden;*/
/*}*/

/*.panes-container,*/
/*.panes-separator {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  height: 100%;*/
/*}*/

/*.gutter {*/
/*  background-color: #eee;*/
/*}*/

/*.split, .gutter.gutter-horizontal {*/
/*  float: left;*/
/*}*/

/*.gutter.gutter-horizontal {*/
/*  cursor: ew-resize;*/
/*}*/

/************************************************
** END layout
************************************************/

.error-message {
    color: darkred;
    border: 10px;
    padding: 10px;
}

/************************************************
** BEGIN CodeMirror layout
************************************************/

#controls {
    margin-bottom: 1em;
}

#editor-pane {
    flex: 20;
    height: 100%;
}

#editor,
.CodeMirror {
    border: 0;
    padding: 0;
    flex: 20;
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

#editor {
    height: calc(100% - 60px);
}

.CodeMirror {
    height: 100%;
}

#footer {
    text-align: center;
    font-size: 0.8em;
}

/************************************************
** END CodeMirror layout
************************************************/

/************************************************
** BEGIN mode layout
************************************************/

#edit-mode {
    width: 90px;
}

#select-mode {
    width: 90px;
}

.mode-button {
    border: none;
    width: 90px;
    outline: 0;
    font-weight: bold;
    color: black;
    text-align: left;
}

.edit-mode-button-selected {
    background-color: mediumseagreen;
}

.edit-mode-button-unselected {
    background-color: lightgray;
}

.select-mode-button {
    border: none;
    width: 75px;
    outline: 0;
    font-weight: bold;
    color: black;
    text-align: left;
}

.helix-change-offsets-button-rect {
    stroke: black;
    fill: #dddddd;
}

.helix-change-offsets-button-rect:hover {
    stroke: green;
    fill: limegreen;
}

.helix-change-offsets-button-text {
    font-size: smaller;
    text-anchor: middle;
    text-align: center;
    alignment-baseline: middle;
    pointer-events: none;
}

.select-mode-button-selected {
    background-color: lightcoral;
}

.select-mode-button-unselected {
    background-color: lightgray;
}

/************************************************
** END mode layout
************************************************/

/************************************************
** BEGIN SVG layout
************************************************/

/*.panzoomable {*/
/*    cursor: move; !* fallback: no `url()` support or images disabled *!*/
/*    cursor: url(images/grab.png), auto; !* fallback: Internet Explorer *!*/
/*    cursor: -webkit-grab; !* Chrome 1-21, Safari 4+ *!*/
/*    cursor: -moz-grab; !* Firefox 1.5-26 *!*/
/*    cursor: grab; !* W3C standards syntax, should come least *!*/
/*}*/

/*.panzoomable.dragging {*/
/*    cursor: url(images/grabbing.png), auto;*/
/*    cursor: -webkit-grabbing;*/
/*    cursor: -moz-grabbing;*/
/*    cursor: grabbing;*/
/*}*/

.selection-box {
    stroke: dimgray;
    fill: gray;
    fill-opacity: 0.5;
}

.rotation-line {
    stroke-width: 3;
    stroke-linecap: round;
}

.helix-invisible-rect {
    visibility: hidden;
    pointer-events: all;
}

.helix-mouseover {
    visibility: hidden;
    pointer-events: all;
}

.helix-lines {
    stroke: #B0B0B0;
}

.helix-horz-line, .helix-vert-minor-line {
    stroke-width: 0.5;
}

.helix-vert-end-line, .helix-vert-major-line {
    stroke-width: 3;
}

.five-prime-end-first-substrand,
.three-prime-end-last-substrand {
    stroke: black;
    stroke-width: 0.5px;
}

.five-prime-end-moving,
.three-prime-end-moving {
    stroke: black;
    stroke-width: 0.5px;
    fill-opacity: 0.5;
}

.five-prime-end,
.three-prime-end {
    stroke: black;
    stroke-width: 0.5px;
    visibility: hidden;
    pointer-events: all;
}

.selectable.five-prime-end:hover,
.selectable.three-prime-end:hover {
    stroke: black;
    stroke-width: 0.5px;
    visibility: visible;
}

.substrand-line {
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
}

.selected {
    filter: url("#shadow");
}

.selected.side-view-helix-circle {
    stroke: red;
    fill: hotpink;
}

.deletable.side-view-helix-circle {
    stroke: none;
    fill: lightgray;
}

.selected.five-prime-end,
.selected.three-prime-end,
.selected.five-prime-end-first-substrand,
.selected.three-prime-end-last-substrand{
    stroke: red;
    fill: hotpink;
    visibility: visible;
}

.selected .five-prime-end,
.selected .three-prime-end,
.selected .five-prime-end-first-substrand,
.selected .three-prime-end-last-substrand {
    stroke: red;
    fill: hotpink;
}

.selected.crossover-curve,
.selected.loopout-line,
.selected.insertion-line,
.selected .crossover-curve,
.selected .loopout-line,
.selected .insertion-line,
.selected .substrand-line {
    stroke: hotpink;
}

.selectable.strand:hover,
.selectable.loopout-line:hover,
.selectable.five-prime-end-first-substrand:hover,
.selectable.three-prime-end-last-substrand:hover,
.selectable.five-prime-end:hover,
.selectable.three-prime-end:hover,
.selectable.insertion-line:hover,
.selectable.deletion-cross:hover {
    filter: url("#shadow");
}


.selectable.crossover-curve:hover {
    stroke-dasharray: 0;
    filter: url("#shadow");
}

.crossover-curve {
    stroke-width: 4;
    /*stroke-dasharray: 2;*/
    stroke-opacity: 0.3;
    fill: none;
}

.potential-crossover {
    stroke-width: 4;
    /*stroke-dasharray: 2;*/
    stroke-opacity: 0.3;
    fill: none;
    pointer-events: none;
}

.insertion-line {
    stroke-width: 2.5px;
    fill: none;
}

.mismatch-star {
    /*stroke: black;*/
    stroke: red;
    fill: red;
    stroke-width: 0.25;
}

.deletion-cross {
    stroke: red;
    stroke-width: 2px;
    stroke-linecap: round;
}

.insertion-length {
    font-size: 8px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: hanging;
}

.dna-seq {
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-size: 12px;
    text-anchor: start;
    pointer-events: none;
    dominant-baseline: ideographic;
    text-shadow: /*-1px -1px 0 #fff,*/ /*1px -1px 0 #fff,*/ /*-1px 1px 0 #fff,*/ /*1px 1px 0 #fff;*/ -0.7px -0.7px 0 #fff,
    0.7px -0.7px 0 #fff,
    -0.7px 0.7px 0 #fff,
    0.7px 0.7px 0 #fff;
    text-rendering: optimizeSpeed; /* doesn't seem to do much to improve rendering speed */
    white-space: pre; /* needed to display multiple space symbols in a row */
}

.dna-seq-insertion,
.dna-seq-loopout {
    font-family: "Consolas", "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
    dominant-baseline: ideographic;
    text-shadow: /*-1px -1px 0 #fff,*/ /*1px -1px 0 #fff,*/ /*-1px 1px 0 #fff,*/ /*1px 1px 0 #fff;*/ -0.7px -0.7px 0 #fff,
    0.7px -0.7px 0 #fff,
    -0.7px 0.7px 0 #fff,
    0.7px 0.7px 0 #fff;
    text-rendering: optimizeSpeed; /* doesn't seem to do much to improve rendering speed */
    white-space: pre; /* needed to display multiple space symbols in a row */
}

.main-view-helix-circle {
    fill: goldenrod;
}

.side-view-helix-circle {
    fill: goldenrod;
}

.side-view-potential-helix {
    fill: palegoldenrod;
    stroke: goldenrod;
}

.side-view-potential-helix-disallowed-position {
    fill: red;
    /*stroke: darkred;*/
}

.main-view-helix-text {
    font-family: Helvetica, serif;
    font-size: 36pt;
    fill: DarkBlue;
    stroke: none; /* don't know why this is necessary to prevent a gray stoke from hiding most of the text */
    text-anchor: middle;
    dominant-baseline: central;
}

.side-view-helix-text {
    font-family: Helvetica, serif;
    font-size: 24pt;
    fill: DarkBlue;
    text-anchor: middle;
    dominant-baseline: central;
}


/************************************************
** END SVG layout
************************************************/